/* ================ CONTAINER STYLES  ================*/

body {
    margin: 0;
    font-family: 'Balsamiq Sans', cursive;
}

.main-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    background: #2d99d8;
  }

  /* ================   ================*/

.main-title {
 position: relative;
 bottom: 50px;
 font-weight: bold;
 font-size: 40px;
 color: white;
}

.main-icon {
  color: white;
  position: relative;
  bottom: 100px;
}

.main-input-text {
  font-size: 20px;
  color: white;
  text-align: center;
}

.main-input {
    margin: 40px 0;
  }

.main-input input {
  padding: 10px 5px;
  border-radius: 8px;
  /* box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2); */
  border: none;
  font-size: 18px;
  text-align: center;
  color: #2d99d8;
  font-weight: bold;
  }

.main-button {
    margin: 0;
  }

.main-button button {
  color: white;
  background: #2d99d8;
  font-weight: bold;
  padding: 12px 24px;
  border-radius: 5px;
  border: 2px solid white;
  font-size: 16px;
}

.main-button button:hover,
.main-button button:active {
  color: #2d99d8;
  border: 1px solid white;
  background: white;
  cursor: pointer;
  font-size: 18px;
}

.research-text {
  color: white;
  position: relative;
  top: 5%;
  font-size: 15px;
  text-align: center;
  margin: 0 32px;
}

#water-intake {
  color: white;
  position: relative;
  top: 20px;
  font-size: 30px;
}


  /* ================  MEDIA QUERIES ================ */




  